h1 {
font-family: Arial, Helvetica, sans-serif;
color:black ;
font-size: 30px;
text-align: center;
font-weight: bold;
}

h2 {

	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	background-color: pink;
}

#box {
				
	background-color:black;
	padding: 1px;
}

#content {
				
	background-color: grey;
}
