h1 {
font-family: Arial, Helvetica, sans-serif;
color:black ;
font-size: 30px;
text-align: center;
font-weight: bold;
}

#bg1 {
	float: left;
	width: 7%;
	background-color: #d1a6b2;
	border: 1px solid black;
	padding: 5px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	
}

#bg2 {
	float: left;
	width: 7%;
	background-color: #ca1e1e;
	border: 1px solid black;
	color: white;
	padding: 5px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#bg3 {
	float: left;
	width: 7%;
	background-color: #d1c2a6;
	border: 1px solid black;
	color: black;
	padding: 5px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	text-align: right;
}

* {
	box-sizing: border-box;
}

#p1 {
	position: relative;
	top: 20px;		
	width: 25%;
	border: 1px solid black;
	float: left;
	background-color: gray;
	padding: 5px;
	margin-right: 10px;
}

#p2 {
	position: relative;
	top: 20px;
	width: 25%;			
	border: 1px solid black;
	float: left;
	background-color: gray;
	padding: 5px;
	margin-right: 10px;
	
}

#p3 {
	position: relative;
	top: 20px;
	width: 25%;			
	border: 1px solid black;
	float: left;
	background-color: gray;
	padding: 5px;
	margin-right: 10px;

}
